@model WJOArvioitava.Models.Asiakas

@using WJOArvioitava.Models

<div>
    <h4>Asiakas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sahkoposti)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sahkoposti)
        </dd>

        <dt>
            Osoite
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Katuosoite) <br /> @Html.DisplayFor(model => model.Postinro) @Html.DisplayFor(model => model.Kaupunki.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maksukortti)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Maksukortti)
        </dd>

        <dt>
            Viimeisimmät ostokset
        </dt>

        @Html.Partial("~/Views/Asiakas/_TilauksetPartial.cshtml", Model)

    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("Muokkaa", "Muuta", "Asiakas") |
    @Html.ActionLink("Vaihda salasana", "Muuta", "Kayttaja")
</p>